@page
@model IndexModel

<p lang="pl"><small>Polska wersja dostępna na <a href="https://lorastats.pl/">https://lorastats.pl</a></small></p>
<p><em>lorastats.net</em> is a Meshtastic LoRa network dashboard and analytics panel. It harvests and processes packets from the following sources:</p>
<ul>
	<li>mqtt.meshtastic.org</li>
	<li>loranet.pl</li>
	<li>meshtastic.liamcottle.net</li>
	<li>a few dedicated nodes</li>
</ul>
<p>If you wish to have such panel for your community, you can either:</p>
<ul>
	<li>host your own instance by grabbing and sources from <a href="https://github.com/lkosson/lorastats-net">github</a></li>
	<li>write me a message to add your community to this instance</li>
</ul>
<p>If you wish to learn more about Meshtastic LoRa network, see the <a href="https://meshtastic.org">official project website</a>.</p>
<p>Questions and comments regarding this instance or hosting your own instance can be directed to <strong>contact</strong> <em>at</em> <strong>lorastats</strong> <em>dot</em> <strong>net</strong>.</p>